{% extends "base.html" %}

{% block title %}about page{% endblock %}

{% block content %}

    <div class="common-container about-box">

        <h2 class="about-head">About this project</h2>

        <hr class="divider">

        <div class="about-content">
            
            <p class="paragraph">This web application was created as part of my learning journey in web development</p>

            <br>
            <p class="paragraph">
                The main purpose of this project is to understand how backend and frontend technologies work together. 
                It uses Python with Flask for server-side logic, SQLAlchemy for database management, and HTML/CSS for the user interface.
            </p>

            <br>
            <p class="paragraph">
                Through this project, I have learned about authentication, database relationships, form handling, and responsive design.
                It is not just an application, but a practical experiment to improve my understanding of full-stack development.
            </p>
            
        </div>
        <footer class="about-footer">

            <a href="#">asmicoders@gmail.com</a>

        </footer>

    </div>

 

{% endblock %}
